[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "INLAspacetime"]
	path = INLAspacetime
	url = https://github.com/eliaskrainski/inlaspacetime
