[submodule ".registry"]
	path = .registry
	url = https://github.com/eliaskrainski/eliaskrainski.r-universe.dev
	branch = HEAD
[submodule "INLAspacetime"]
	path = INLAspacetime
	url = https://github.com/eliaskrainski/INLAspacetime
[submodule "INLAtools"]
	path = INLAtools
	url = https://github.com/eliaskrainski/INLAtools
[submodule "fmesher"]
	path = fmesher
	url = https://github.com/inlabru-org/fmesher
[submodule "graphpcor"]
	path = graphpcor
	url = https://cran.r-project.org/web/packages/graphpcor
[submodule "inlabru"]
	path = inlabru
	url = https://github.com/inlabru-org/inlabru
